@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikMedium.otf);
}

@font-face {
    font-family: GraphikLight;
    src: url(../fonts/GraphikLight.otf);
}

:root {
    
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.shadow {
    box-shadow: 0px 8px 20px -2px #2B253F1A;
}

body {
    background-color: #FFF;
    font-family: Graphik, Arial, sans-serif;
    color: #14171A;
}

html, input, textarea, button, h1, h2, h3, h4, h5, h6, p, a, label{
    font-family: Graphik, Arial, sans-serif;
}

p, a {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.0075em;
    font-weight: 600;
    color: #14171A;
}

main {
    display: flex;
    max-height: 100vh;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}